<div class="forget-password">
  @if(openForgetPasswordForm){
  <form [formGroup]="forgetPasswordForm" class="forget-password-form">
    <div class="forget-password-form-details">
      <mat-icon class="close-icon" (click)="onClickClose()">close</mat-icon>
      <h2>Forget Password Form</h2>
      <div class="inputs">
        <div>
          <label><mat-icon>mail</mat-icon></label>
          <input
            type="email"
            placeholder="Enter your email"
            formControlName="email"
            class="form-control"
          />
        </div>
        <ng-container
          *ngIf="
            forgetPasswordForm.get('email')?.touched ||
            forgetPasswordForm.get('email')?.dirty
          "
        >
          <small
            class="text-danger"
            *ngIf="forgetPasswordForm.get('email')?.errors?.['required']"
          >
            Email is required
          </small>
          <small
            class="text-danger"
            *ngIf="forgetPasswordForm.get('email')?.errors?.['email']"
          >
            Invalid email format
          </small>
        </ng-container>
      </div>
      <button (click)="onSubmitForgetPasswordForm()">Submit</button>
      <p>Remembered Password? <a (click)="onClickLogin()">Login</a></p>
    </div>
  </form>
  } @else if(openCodeverificationForm){
  <form [formGroup]="codeverificationForm" class="codeVerificationForm">
    <div class="code-verification-form-details">
      <mat-icon class="close-icon" (click)="onClickClose()">close</mat-icon>
      <h2>Verify Code</h2>
      <div class="inputs">
        <div>
          <label><mat-icon>code</mat-icon></label>
          <input
            type="text"
            placeholder="******"
            formControlName="code"
            class="form-control"
          />
        </div>
      </div>
      <div class="btns">
        <button id="submit-btn" (click)="onSubmitCodeVerificationForm()">
          Submit
        </button>
        <button id="resend-btn" (click)="onSubmitResendCode()">
          Resend Code
        </button>
      </div>
    </div>
  </form>
  } @else if (openResetPasswordForm) {
  <form [formGroup]="resetPasswordForm" class="resetPasswordForm">
    <div class="reset-password-form-details">
      <mat-icon class="close-icon" (click)="onClickClose()">close</mat-icon>
        <h2>Password Reset Form</h2>
        <div class="inputs">
          <div>
            <label><mat-icon>password</mat-icon></label>
            <input
              type="password"
              placeholder="Enter new password"
              formControlName="newPassword"
              class="form-control"
            />
            <ng-container
              *ngIf="
                resetPasswordForm.get('newPassword')?.touched ||
                resetPasswordForm.get('newPassword')?.dirty
              "
            >
              <small
                class="text-danger"
                *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']"
              >
                Password is required
              </small>
              <small
                class="text-danger"
                *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']"
              >
                Minimum 6 characters required
              </small>
              <small
                class="text-danger"
                *ngIf="resetPasswordForm.get('newPassword')?.errors?.['maxlength']"
              >
                Maximum 12 characters allowed
              </small>
              <small
                class="text-danger"
                *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']"
              >
                Must include uppercase, lowercase, number, and special character
              </small>
            </ng-container>
          </div>
          <div>
            <label><mat-icon>password</mat-icon></label>
            <input
              type="password"
              placeholder="Confirm new password"
              formControlName="confirmNewPassword"
              class="form-control"
            />
            <ng-container
              *ngIf="
                resetPasswordForm.get('confirmNewPassword')?.touched ||
                resetPasswordForm.get('confirmNewPassword')?.dirty
              "
            >
              <small
                class="text-danger"
                *ngIf="resetPasswordForm.get('confirmNewPassword')?.errors?.['required']"
              >
                Password is required
              </small>
              <small
                class="text-danger"
                *ngIf="resetPasswordForm.get('confirmNewPassword')?.errors?.['minlength']"
              >
                Minimum 6 characters required
              </small>
              <small
                class="text-danger"
                *ngIf="resetPasswordForm.get('confirmNewPassword')?.errors?.['maxlength']"
              >
                Maximum 12 characters allowed
              </small>
              <small
                class="text-danger"
                *ngIf="resetPasswordForm.get('confirmNewPassword')?.errors?.['pattern']"
              >
                Must include uppercase, lowercase, number, and special character
              </small>
            </ng-container>
          </div>
        <button>Submit</button>
      </div>
    </div>
  </form>
  }
</div>
