.navbar{
    background-color: rgb(223, 223, 223);
    padding: 10px;
    position: sticky;
    top:0px;
    z-index: 1000;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;

        li{
            list-style: none;
            padding: 10px;
            cursor: pointer;

            a{
                text-decoration: none;
                color: black;

                &:hover{
                    color: rgb(255, 125, 78);
                }
            }
        }
    }
}

.active{
    font-weight: bold;
}

.auth-link{
    background-color: black;
    color: white !important;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: orangered;
    }
}

mat-icon{
    &:hover{
        color: orangered;
    }
}
