.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(233, 233, 233);
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 20px;
        padding: 10px;
        li {
            list-style: none;

            a {
                text-decoration: none;
                color: black;

                &:hover{
                    color: rgb(255, 125, 78);
                }
            }

        }
    }
}

.active{
    font-weight: bold;
}

@media screen and (width<768px) {
    // mobile
    li{
        font-size: 8px;
    }
}